In [5]:
import pandas as pd
import numpy as np

In [11]:
ds = pd.read_csv('./GSE118389.csv')

In [12]:
ds.head()

,Unnamed: 0,A1BG,A1BG-AS1,A1CF,A2M,A2M-AS1,A2ML1,A2MP1,A3GALT2,A4GALT,...,SBDSP1,SBF1,SBF2,SBF2-AS1,SBK1,SBK2,SBNO1,SBNO2,SBSN,SBSPON
0,PT089_P1_A01,0.0,0.0,0.00,0.00,0.0,0.25,0.0,0.0,0.0,...,4.83,0.0,0.0,0.0,0.0,0,0.27,0.0,0.0,109.47
1,PT089_P1_A02,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0,172.58,0.0,0.0,0.25
2,PT089_P1_A03,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,...,23.95,0.0,0.0,0.0,0.0,0,0.46,0.0,0.0,0.33
3,PT089_P1_A04,0.0,0.0,0.41,281.39,0.0,0.00,0.0,0.0,0.0,...,505.43,0.0,0.0,0.0,0.0,0,0.40,0.0,0.0,1.99
4,PT089_P1_A05,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0,0.24,0.0,0.0,0.00

In [10]:
ds.drop(columns=ds.columns[0])

,A1BG,A1BG-AS1,A1CF,A2M,A2M-AS1,A2ML1,A2MP1,A3GALT2,A4GALT,A4GNT,...,SBDSP1,SBF1,SBF2,SBF2-AS1,SBK1,SBK2,SBNO1,SBNO2,SBSN,SBSPON
0,0.00,0.0,0.00,0.00,0.0,0.25,0.0,0.0,0.00,0.0,...,4.83,0.00,0.00,0.00,0.0,0,0.27,0.0,0.0,109.47
1,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.00,0.0,...,0.00,0.00,0.00,0.00,0.0,0,172.58,0.0,0.0,0.25
2,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.00,0.0,...,23.95,0.00,0.00,0.00,0.0,0,0.46,0.0,0.0,0.33
3,0.00,0.0,0.41,281.39,0.0,0.00,0.0,0.0,0.00,0.0,...,505.43,0.00,0.00,0.00,0.0,0,0.40,0.0,0.0,1.99
4,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.00,0.0,...,0.00,0.00,0.00,0.00,0.0,0,0.24,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1529,0.00,0.0,0.00,227.46,0.0,0.25,0.0,0.0,0.00,0.0,...,0.00,0.00,2.07,0.71,0.0,0,75.37,0.0,0.0,0.00
1530,0.00,0.0,0.00,385.60,0.0,0.00,0.0,0.0,0.00,0.0,...,166.00,1.58,0.00,0.00,0.0,0,45.40,0.0,0.0,0.00
1531,0.00,0.0,0.00,23376.17,0.0,0.00,0.0,0.0,0.00,0.0,...,0.00,0.00,0.00,0.00,0.0,0,0.00,0.0,0.0,7.88
1532,0.00,0.0,0.00,25.45,0.0,0.00,0.0,0.0,0.00,0.0,...,0.00,0.00,0.00,0.00,0.0,0,0.00,0.0,0.0,30.78
1533,1.56,0.0,0.00,512.00,4.3,4.40,0.0,0.0,1.29,0.0,...,41.22,3.10,7.20,10.68,3.8,0,42.60,0.0,0.0,0.00